md-toolbar
  h2.name(ng-click="toggleEditMode()") {{board.name}}
div(ng-include="'app/components/board/editBoardForm.html'" ng-show="editing" ng-animate="{enter: 'slide-enter', leave: 'slide-leave'}")
div(ng-show="!editing")
  md-list(layout="column")
    md-item(ng-repeat="link in links | orderBy: 'title'")
      p
        a(ng-href="{{link.url}}") {{link.title}}
  md-toolbar
    md-button(ng-click="loadNext()") More...
    