md-toolbar
  h2.name(ng-click="toggleEditMode()") {{name}}
div(ng-include="'app/components/board/editBoardForm.html'" ng-show="editing")
div(ng-show="!editing")
  md-list(layout="column")
    md-item(ng-repeat="link in links | orderBy: 'title'")
      p
        a(ng-href="{{link.url}}") {{link.title}}
  md-toolbar
    md-button(ng-click="loadNext()") More...
    