md-toolbar
  div.md-toolbar-tools(layout="row" layout-align="space-between center" flex)
    h2.name(ng-click="toggleEditMode()") {{board.name}}
    md-select(ng-model="selectedOption")
      md-option(value="refresh") Refresh
      md-option(value="edit") Edit
      md-option(value="delete") Delete
div(ng-include="'app/components/board/editBoardForm.html'" ng-show="editing" ng-animate="{enter: 'slide-enter', leave: 'slide-leave'}")
div(ng-show="!editing")
  md-list(layout="column")
    md-item(ng-repeat="link in links | orderBy: 'title'")
      p
        a(ng-href="{{link.url}}") {{link.title}}
  div.loading-icon(ng-show="loading && !editing" layout="row" layout-align="center")
    md-progress-circular.md-warn(md-mode="indeterminate")
  md-toolbar
    md-button(ng-click="loadNext()") More...
    