div.edit-subs
  h3 Edit Subs
  md-list.sub-list(layout="column")
    md-item(ng-repeat="sub in subs" flex)
      div 
        span.sub {{sub}}
        span.remove-sub(ng-click="removeSub(sub)") X
div.addSub
  form(ng-submit="searchSubs(subsQuery)")
    md-input-container
      label Search For subs
      input(ng-model="subsQuery" maxlength="50")
    md-list(layout="column")
      md-item(ng-repeat="result in searchResults")
        p {{result}}
        md-button(ng-click="addSub(result)") +

