@import url("http://fonts.googleapis.com/css?family=Roboto\+Slab:400,700|Roboto:400,700,700italic,400italic")

PAGE_WIDTH = 800px
BOARD_WIDTH = 500px

html
  font-family 'Roboto Slab', serif


md-content
  margin 0 auto



[layout=row]
  flex-direction row

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0


md-toolbar
  padding 2px 5px

  &.md-default-theme
    background-color rgb(69, 69, 69)
    width 100%
    padding 5px 10px
    
  .plus
    font-size 1.5em

section
  &.jumbotron
    margin 0 auto
    background-color #5aadbb
    text-align center
    color white
    h1
      font-size 3em

.boards
  display flex
  box-sizing border-box
  margin 5px 5px
  padding 10px
  box-shadow inset 2px 2px 3px 3px rgb(69, 69, 69), inset -2px -2px 3px 3px rgb(69, 69, 69)
      
board
  margin 0 10px
  box-shadow 2px 2px 3px 2px #ccc
  padding 5px
  max-width: BOARD_WIDTH
  width: BOARD_WIDTH
  max-height 900px
  overflow auto
  
  
  h2
    text-align center
    cursor pointer
    
  
  .md-select-icon
    color white
    font-size 1.25em
    position relative
    top -15px
    left 20px
  

md-list
  margin 0 auto
  overflow auto

md-item
  border-bottom 1px solid rgb(69, 69, 69)
  padding 5px



div.ng-show
  -webkit-transition 2s linear all
  transition 2s linear all
  opacity 0
div.ng-show-active
  opacity 1


    

.sub-list
  .remove-sub
    float right
    color red
    cursor pointer

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your stylus files automatically */
// injector
// endinjector
